<form class="signup-form" id="signup-form">
    <input type="text" id="username-signup" name="username" placeholder="Username" required>
    <input type="password" id="password-signup" name="password" placeholder="Password" required>
    <button type="submit">Sign Up</button>
</form>